@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  box-sizing: border-box;
  height: 100%;
}

*,
::before,
::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
  display: block;
  user-select: none;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #333333;
  background-color: #ffffff;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 0;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

