.main-footer__link-visit {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.main-footer__wrapper{
  text-align: center;
}


@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 60px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 45px;
    padding-left: 45px;
    padding-right: 60px;
  }
}
