
.products{
  display: flex;
  align-items: center;
}

.products__item:not(:last-child){
  margin-bottom: 50px;
}

.products__wrapper{
  @include list-style;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .products__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .products__item {
    width: 324px;
    min-height: 345px;
    margin: 0;
    padding: 0;
  }
  .products__wrapper, .products__item:first-child {
    width: 648px;
    min-height: 480px;
  }

  .product__wrappers{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .products__wrapper, .products__item:first-child {
    width: 1200px;
  }
}

