.title-logo{
  display: flex;
  flex-direction: column;
  min-width: 282px;
}

.title-logo__background{
  background-position: center;
  background-image: url("../img/background/Frame.jpg");
  background-repeat: no-repeat;
  background-color: #000000;
  align-self: center;
}

.title-logo__wrapper{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.title-logo__welcome-title{
  text-transform: uppercase;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 35px;
  color: #000000;
  width: 100%;
}

.title-logo__description {
  color: #333333;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .title-logo__background {
    width: 100%;
    background-image: url("../img/background/frame-tablet.jpg");
    background-repeat: no-repeat;
    text-align: center;
  }

}

@media (min-width: $desktop-width) {
  .title-logo__background {
    background-image: url("../img/background/frame-desktop.jpg");
    background-repeat: no-repeat;
    text-align: center;
  }
}
